{% extends 'base.html.twig' %}

{% block title %}Liste des services
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Bâtiment</th>
				<th>Etage</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
				<tr>
					<td>{{ service.id }}</td>
					<td>{{ service.nom }}</td>
					<td>{{ service.batiment }}</td>
					<td>{{ service.etage }}</td>
					<td>
						<a href="{{ path('app_service_show', { id: service.id }) }}">Détails</a>
						<a href="{{ path('app_service_edit', { id: service.id }) }}">Modifier</a>
						<a href="{{ path('app_service_delete', { id: service.id }) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_service_new')}}">Ajouter un service</a>
{% endblock %}
