{% extends 'base.html.twig' %}

{% block title %}Liste des employés
{% endblock %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Localisation</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employes %}
				<tr>
					<td>{{employe.id}}</td>
					<td>{{employe.nom}}</td>
					<td>{{employe.prenom}}</td>
					<td>{{employe.service.batiment}}
						({{employe.service.etage}})
					</td>
					<td>
						<a href="{{ path('app_employe_show', {'id': employe.id } ) }}">Détails</a>
						<a href="{{ path('app_employe_edit', {'id': employe.id } ) }}">Modifier</a>
						<a href="{{ path('app_employe_delete', {'id': employe.id } ) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_employe_new') }}">Ajouter un employé</a>
{% endblock %}
