{% extends "base.html.twig" %}

{% block title %}Détails d'un employé
{% endblock %}

{% block body %}

	<h1>Détails d'un employé</h1>

	<table class="table">
		<tr>
			<td>Id</td>
			<td>{{employe.id}}</td>
		</tr>
		<tr>
			<td>Nom</td>
			<td>{{employe.nom}}</td>
		</tr>
		<tr>
			<td>Prénom</td>
			<td>{{employe.prenom}}</td>
		</tr>
		<tr>
			<td>Service</td>
			<td>
				{% if employe.service %}
					{{ employe.service.nom }}
				{% else %}
					<strong>Aucun</strong>
				{% endif %}
			</td>
		</tr>
	</table>

	<a href="{{ path('app_employe_index') }}">Retour à la liste</a>


{% endblock %}
